  <footer>
    <div class="container">
      <h3>Share this page</h3>

      <div class="social-media">
        <a href="">
          <i class="Icon fa fa-facebook fa-fw"></i>
        </a>
        <a href="">
          <i class="Icon fa fa-twitter fa-fw"></i>
        </a>
        <a href="">
          <i class="Icon fa fa-instagram fa-fw"></i>
        </a>
      </div><!-- .social-media -->

      <nav class="nav-footer">
        <a href="">HELP</a> |
        <a href="">PRIVACY</a> |
        <a href="">TERMS &amp; CONDITIONS</a>
      </nav><!-- .nav-footer -->

      <div class="powered-by">
        powered by <a href="http://everydayhero.com/"><img src="img/logo-edh.png" alt="everydayhero" title="everydayhero" /></a>
      </div><!-- .powered-by -->
    </div><!-- .container -->
  </footer>
  <script src="js/bundle.js"></script>
</body>
</html>
