<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} | Salvation Army NZ Christmas Campaign</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Montserrat:400,700|Caveat+Brush' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//d1ig6folwd6a9s.cloudfront.net/widgets-0.6.10.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="//d1ig6folwd6a9s.cloudfront.net/widgets-0.6.10.js"></script>

  <link rel="canonical" href="http://www.amyschristmas.org.nz" />
  <meta property="og:url" content="http://www.amyschristmas.org.nz" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Salvation Army NZ | Help light up Amy’s Christmas Tree" />
  <meta property="og:description" content="This year your business can help light up Amy’s Christmas tree – and in doing so you’ll be helping The Salvation Army to make Christmas special for fragile Kiwi families in need." />
  <meta property="og:image" content="http://www.amyschristmas.org.nz.s3-website-ap-southeast-2.amazonaws.com/img/amys-christmas-tree.png" />
</head>
<body>
