.btn {
  background: $color-brand1;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  padding: $unit-md $unit-sm;
  color: #fff;
  border-radius: $radius;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $size-md;
  width: 25%;
  margin: 0 0.5em;

  &:hover {
    text-decoration: none;
    background: darken($color-brand1, 15);
  }

  @include breakpoint(desk) {
    font-size: $size-xs;
    padding: $size-sm;
  }

  @include breakpoint(lap) {
    width: 50%;
    display: block;
    box-sizing: border-box;
    margin: $unit-md auto;
  }

  @include breakpoint(palm-wide ) {
    width: 100%;
  }
}

.btn--block {
  display: block;
}

.btn--secondary {
  background: transparent;
  border-color: rgba(#fff, 0.66);
}

.btn--tertiary {
  background: transparent;
  border-color: $color-mutedGrey;
  color: $color-mutedGrey;
}

.btn--sm {
  padding: $unit-sm $unit-md;
  font-size: $size-sm;
}

.btn--lg {
  padding: $unit-lg $unit-xl;
  font-size: $unit-lg;
}

.btn--xl {
  padding: $unit-xl $unit-xxl;
  font-size: $unit-lg;
}
