{{> header }}

  <header class="header-main">
    <img src="img/banner-amy.jpg" alt="Amy's Christmas Tree" />
    {{!-- <img src="img/logo.png" alt="The Salvation Army" class="header-main__logo" /> --}}
    {{!-- <img src="img/triangle.png" alt="" class="triangle" />--}}
  </header>

 <div class="main-wrapper">

  <div class="container">
    <div class="main-content">
      <h1 class="main-content__title">Help light up Amy’s Christmas Tree</h1>

      <p class="main-content__body">This year your business can help light up Amy’s Christmas tree – and in doing so you’ll be helping The Salvation Army to make Christmas special for fragile Kiwi families in need.</p>
    </div><!-- .main-content -->
  </div><!-- .container -->

  <div class="widget-container">
    <iframe src="http://d2h3g7rbnequ8a.cloudfront.net/salvation-army-nz-funds-raised-widget-2015/index.html?campaignId=NZ-932" frameborder="0" style="width: 100%; height: 100%; max-width: 495px; max-height: 740px" id='edh-iframe-raised'></iframe>
    <script type='text/javascript'>
      function resizeIframeRaised() {
        var obj = document.getElementById('edh-iframe-raised');
        var ratio = 495 / 740;
        var height = obj.offsetWidth / ratio;
        obj.style.height = height+'px';
      }
      setInterval(resizeIframeRaised, 500);
    </script>
  </div><!-- .widget-container -->

  <div class="container">
    <div class="secondary-content">
      <h2>How you can help</h2>

      <p>Either make a one-off donation via the button below, or create a Supporter Page to enable your staff, customers and suppliers to support The Salvation Army.</p>

      <p>Every donation helps to light up the online Christmas tree, so that families like Amy’s can get the support they so desperately need at Christmas.</p>

      <a href="https://heroix.everydayhero.co.nz/event/amyschristmastree2015/donate" class="btn">Donate Now</a>
      <a href="https://amyschristmastree2015.everydayhero.com/nz/get-started" class="btn">Create a Fundraising Page</a>
    </div><!-- .secondary-content -->

    <div class="leaderboard-wrapper">
      <div id="leaderboard"></div><!-- #leaderboard -->
    </div><!-- .leaderboard-wrapper -->


    <div class="tertiary-content">
      <img src="img/amy.jpg" alt="Amy" />

      <h2 class="tertiary-content__title">Amy's Story</h2>

      <div class="tertiary-content__body">
        <p>This Christmas will see The Salvation Army assist over 17,000 New Zealand families who are unable to cope with the rising costs and pressures of the season. Families like Amy’s, who struggle every day just to make ends meet.</p>

        <p>Not so long ago, life was going really well for Amy’s family. They had relocated from Auckland to Hawkes Bay after her dad, Joe, landed a good, steady job there. But then, one day, out of the blue, the company Joe worked for moved their production overseas.</p>

        <p>And just like that, everything began to unravel. Joe found it difficult to find a new job in Hawkes Bay. The family were forced to move back to Auckland, but with rocketing rent costs and work drying up, they found themselves living hand to mouth. They had to move house three times, each time to a property more cold and damp than the last.</p>

        <p>As Tracey recalls, <em>"Overnight, everything changed. The pressure we were under felt like we were being crushed. The part that broke my heart was seeing the strain on our Amy. I would often cry as I saw this sweet bubbly girl become sullen and withdrawn. It was heartbreaking.</em></p>

        <p>Joe became depressed. Amy was constantly sick and her bright, bubbly personality began to fade. Tracey was at breaking point trying to hold everything – and everyone - together.</p>

        <p>That's when she called The Salvation Army, and through the compassion and support of wonderful people like you, we were able to begin the work of piecing their lives back together. Life is still hard for Amy and her family. But things are looking up. And now, thanks to you and the Sallies, they have real hope.</p>

        <p><strong>With your help, we can bring much-needed hope to families in need this Christmas and beyond. By making a one-off donation or creating a Supporter Page to enable others to support The Sallies, you can help light up Amy’s Christmas tree - so that families like Amy’s can get the support they desperately need at Christmas.</strong></p>
      </div><!-- .secondary-content__body -->
    </div><!-- .secondary-content -->
  </div><!-- .container -->

{{> footer }}
