@import "normalize";
@import "variables";
@import "mixins";
@import "modules";

body, html {
  margin: 0;
  padding: 0;
  background: #fff;
}

img, iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 200ms ease-out;
}

ul {
  list-style: none;
}

.header {
  @extend %wrapper;
  padding-bottom: $unit-md;
}

%wrapper {
  box-sizing: border-box;
  max-width: $max-page-width;
  margin: 0 auto;
}

%content-section {
  padding: $unit-xxxl 0;
}

.row {
  @extend %clearfix;
}

.container {
  @extend %wrapper;
  padding: 0 1em;

  > *:first-child {
    margin-top: 0;
  }
}

.footer-wrapper {
  @extend %wrapper;
  padding: $unit-md;
  background: $color-lightGrey;
}


// HEADER
////////////////////////////////////////

header.header-main {
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  height: 330px;

  .header-main__logo {
    margin: 0 auto;
    display: block;
    padding: $unit-md 0;
  }

  .triangle {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}


// MAIN CONTENT SECTION
////////////////////////////////////////

.main-content {
  position: relative;
  text-align: center;

  .main-content__title {
    margin-top: -1em;
  }

  .main-content__body {
    font-size: $size-lg;
  }
}


// SECONDARY CONTENT SECTION
////////////////////////////////////////

.secondary-content {
  @extend %content-section;

  .secondary-content__body {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;

    @include breakpoint(lap) {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
    }
  }
}


// SPONSOR LOGOS SECTION
////////////////////////////////////////

.sponsors {
  @extend %content-section;

  .sponsor-logos {
    text-align: center;

    .sponsor-logos__logo {
      width: 17%;
      box-sizing: border-box;
      margin: 1em 0.5em;

      @include breakpoint(lap) {
        width: 23%;
      }

      @include breakpoint(palm) {
        width: 30%;
      }
    }
  }
}


// FOOTER
////////////////////////////////////////

footer {
  @extend %content-section;
  color: #fff;
  background: darken($color-brand1, 20);
  text-align: center;

  h3, a, a:visited {
    color: #fff;
  }

  .social-media {
    a {
      margin: $unit-md;
      display: inline-block;
    }

    .Icon {
      font-size: $unit-xl;
      background: #fff;
      color: darken($color-brand1, 20);
      height: 60px;
      width: 60px;
      line-height: 60px;
      border-radius: 50%;
      transition: all 200ms ease-out;

      &:hover {
        background: lighten($color-brand1, 15);
      }

      @include breakpoint(palm) {
        font-size: $unit-md;
        height: 40px;
        width: 40px;
        line-height: 40px;
      }
    }
  }

  .nav-footer {
    margin: $unit-md 0 0;
    padding: $unit-xl 0;
    border-top: 2px dotted #fff;
    display: inline-block;
    font-weight: 300;

    @include breakpoint(palm) {
      font-size: $size-sm;
    }

    a {
      margin: 0 0.5em;

      &:hover {
        color: lighten($color-brand1, 15);
      }
    }
  }

  .powered-by {
    font-size: $size-sm;

    a {
      &:hover {
        opacity: 0.6;
      }

      img {
        margin: 0 0 -0.5em 1em;
      }
    }

  }
}
